# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for most servers.
# Please read the fivem documentation:
#   https://aka.cfx.re/server-commands
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You SHOULD edit the following:
sv_hostname "Jeikh Development Server!"
sets sv_projectName "Jeikh Development Server!"
sets sv_projectDesc "Recipe for the base resources required to run a minimal FiveM server."
sets tags "default, deployer"
sets locale "root-AQ"

## You CAN edit the following:
sv_enforceGameBuild 3095
sv_licenseKey "cfxk_1TxboIiDMmBJNqHa2D2eQ_3gxGdD"
sv_maxclients 5
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set steam_webApiKey "none"
set resources_useSystemChat true
sets sv_pureLevel 1

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:71252 group.admin #SomeoneDutch
add_principal identifier.discord:865905872742776832 group.admin #SomeoneDutch
